{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>
<section>
    <a href="{% url 'projeto_criar' %}" class="btn btn-novo">+ Nova competencia</a>

    {% for competencia in competencias %}
    <article>
        <header>
            <h3>{{ competencia.nome }}</h3>
            <p>{{ competencia.categoria }}</p>
        </header>
        <section>
            <p>{{ competencia.descricao }}</p>
        </section>
        <div class="acoes">
            <a href="{% url 'competencia_editar' competencia.id %}" class="btn btn-editar">Editar</a>
            <a href="{% url 'competencia_apagar' competencia.id %}" class="btn btn-apagar">Apagar</a>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}