{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>
<section>
    {% if request.user.is_authenticated %}
        <a href="{% url 'competencia_criar' %}" class="btn btn-novo">+ Nova Competencia</a>
    {% endif %}

    {% for competencia in competencias %}
    <article>
        <header>
            <h3>{{ competencia.nome }}</h3>
            <p>{{ competencia.categoria }}</p>
        </header>
        <section>
            <p>{{ competencia.descricao }}</p>
        </section>
        {% if request.user.is_authenticated %}
            <div class="acoes">
                <a href="{% url 'competencia_editar' competencia.id %}" class="btn btn-editar">Editar</a>
                <a href="{% url 'competencia_apagar' competencia.id %}" class="btn btn-apagar">Apagar</a>
            </div>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}