{% extends "portfolio/base.html" %}

{% block content %}
<h2>Formações</h2>
<section>
    {% if request.user.is_authenticated %}
        <a href="{% url 'formacao_criar' %}" class="btn btn-novo">+ Nova Formação</a>
    {% endif %}

    {% for formacao in formacoes %}
    <article>
        <header>
            <h3>{{ formacao.nome }}</h3>
            <p>{{ formacao.instituicao }}</p>
            <p>{{ formacao.data_inicio }} — {{ formacao.data_fim|default:"Presente" }}</p>
        </header>
        {% if request.user.is_authenticated %}
            <div class="acoes">
                <a href="{% url 'formacao_editar' formacao.id %}" class="btn btn-editar">Editar</a>
                <a href="{% url 'formacao_apagar' formacao.id %}" class="btn btn-apagar">Apagar</a>
            </div>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}