{% extends "portfolio/base.html" %}

{% block content %}
<h2>Licenciatura</h2>
<section>
    {% for licenciatura in licenciaturas %}
    <article>
        <header>
            <h3>{{ licenciatura.nome }}</h3>
            <p>{{ licenciatura.ects }} ECTS</p>
        </header>
        <section>
            <p>{{ licenciatura.apresentacao }}</p>
            <h4>Unidades Curriculares</h4>
            <ul>
                {% for uc in licenciatura.unidades_curriculares.all %}
                    <li>{{ uc.nome }}</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}