{% extends "portfolio/base.html" %}

{% block content %}
<h2>Projetos</h2>
<section>

    {% if request.user.is_authenticated %}
        <a href="{% url 'projeto_criar' %}" class="btn btn-novo">+ Novo Projeto</a>
    {% endif %}

    {% for projeto in projetos %}
    <article>
        <header>
            <h3>{{ projeto.titulo }}</h3>
            <p>{{ projeto.unidade_curricular.nome }}</p>
        </header>
        <section>
            <p>{{ projeto.descricao }}</p>
            <h4>Tecnologias</h4>
            <ul>
                {% for tec in projeto.tecnologias.all %}
                    <li>{{ tec.nome }}</li>
                {% empty %}
                    <li>Sem tecnologias</li>
                {% endfor %}
            </ul>
        </section>
        {% if request.user.is_authenticated %}
            <div class="acoes">
                <a href="{% url 'projeto_editar' projeto.id %}" class="btn btn-editar">Editar</a>
                <a href="{% url 'projeto_apagar' projeto.id %}" class="btn btn-apagar">Apagar</a>
            </div>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}