{% extends "portfolio/base.html" %}

{% block content %}
<h2>Tecnologias</h2>
<section>

    {% if request.user.is_authenticated %}
        <a href="{% url 'tecnologia_criar' %}" class="btn btn-novo">+ Nova Tecnologia</a>
    {% endif %}
    
    {% for tecnologia in tecnologias %}
    <article>
        <header>
            <h3>{{ tecnologia.nome }}</h3>
            <p>Classificação: {{ tecnologia.classificacao }}</p>
        </header>
        {% if request.user.is_authenticated %}
            <div class="acoes">
                <a href="{% url 'tecnologia_editar' tecnologia.id %}" class="btn btn-editar">Editar</a>
                <a href="{% url 'tecnologia_apagar' tecnologia.id %}" class="btn btn-apagar">Apagar</a>
            </div>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}